.congrats {
    font-size: 36pt;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  color: #E74C3C;
}

.heading {
  font-size: 48pt;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
 background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,.2));
  color: #CB4335;
}

.name {
  font-size: 36pt;
  font-family: sans-serif;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  color: #717D7E;
}