.sidebar .sidebar-wrapper, .bootstrap-navbar .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 75px;
    background-color:#2A3F54;
    background:linear-gradient(317.35deg, #5d8fda 0%, rgb(6, 6, 6) 100%)
}