<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">You Can Customize CPU Name Aswell!</h4>
          </div>
          <div class="content">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

              <div class="row">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- <label>Player Name</label> -->
                      <input type="text" class="form-control" placeholder="Defult as CPU #1">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <button class="btn btn-success">AS CPU #1</button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label>SKILL LEVEL</label>
                        </div>
                        <div class="col-md-8">
                          <Select>
                            <option>Beginner</option>
                            <option>Intermediate</option>
                            <option>Expert</option>
                          </Select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- <label>Player Name</label> -->
                      <input type="text" class="form-control" placeholder="Defult as CPU #2">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <button class="btn btn-success">AS CPU #2</button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label>SKILL LEVEL</label>
                        </div>
                        <div class="col-md-8">
                          <Select>
                            <option>Beginner</option>
                            <option>Intermediate</option>
                            <option>Expert</option>
                          </Select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="row">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- <label>Player Name</label> -->
                      <input type="text" class="form-control" placeholder="Defult as CPU #3">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <button class="btn btn-success">AS CPU #3</button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label>SKILL LEVEL</label>
                        </div>
                        <div class="col-md-8">
                          <Select>
                            <option>Beginner</option>
                            <option>Intermediate</option>
                            <option>Expert</option>
                          </Select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>