<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12" >
                <div class="col-md-8">
                    <ul class="nav navbar-nav navbar-left">
                        
                       
                        <li class="dropdown">
                            <p style="font-size: 16pt;top:5px; color: #484848;">Select the Stock Name</p>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <i class="fa fa-home" style="font-size: 20pt;top:7px;"></i>
                                <b class="caret"></b>
                                <span class="notification">{{rowData.length}}</span>
                                <p class="hidden-lg hidden-md">
                                    {{rowData.length}} companies
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">

                                <li *ngFor="let row of rowData">
                                    <a (click)="changeCurrentCompany(row)">{{row.company}}</a>

                                </li>

                            </ul>
                        </li>

                    </ul>

                </div>
                <div class="col-md-4">
                        <p class="category" style="color: #484848;font-size: 12pt;">Selected Company: <p>
                           <p style="color:#F94C4C;font-size: 12pt;"> {{currentCompany}}</p>
                             
                </div>

            </div>
        </div>
    </div>
</div>